<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.example.test.TestDAO">
    <select id="selectUser" resultType="map">
        SELECT
			*	
        FROM
            `user`
    </select>

	<select id="existUserByName" parameterType="String" resultType="boolean">
		<!-- count로 가져오게 되면 0: 거짓 , 0이 아닌 수: 참  이것을 판단한다. -->
		SELECT 
			count(1)
		FROM
			`new_user`
		WHERE
			`name` = #{name} <!-- 이때 인덱스를 추가해서 빠르고 쉽게 찾을수 있다. -->
		
	</select>
 </mapper>